@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ceshi</title>
</head>
<body>
    
    <div>
        <!--<input id="register" type="submit" onclick='location.href=("/LogIn/ceshi2")' value="委托人" />-->
        <input id="register" type="submit" onclick='location.href=("/CreateOrder/Create")' value="委托人" />
    </div>   

    <form action="/LogIn/Reque" method="post">
        <p>
            <input id="register" type="submit" value="申请跑腿人权限" />
        </p>

    </form>
</body>
</html>
