
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>paotui</title>
</head>
<body>
    <div>
        请选择要进入的页面：
        <!--<input id="register" type="submit" onclick='location.href=("/LogIn/ceshi2")' value="委托人" />-->

        <input id="register" type="submit" onclick='location.href=("/CreateOrder/create")' value="委托人" />
        <input id="register" type="submit" onclick='location.href=("/LogIn/ceshi1")' value="跑腿员" />
    </div>
</body>
</html>
