
@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>create</title>
    <link href="~/Content/CreateOrder.css" rel="stylesheet" />
</head>
<body>

    <form action="/CreateOrder/Create_OnlyResponse" method="post">
        <div class="row">
            <div class="column">
                <p style="align-self:center">
                    <img src="~/Images/1.png" style=" position:absolute; left:80px;top:50px;width:70px;height:75px;" />
                    <br />
                    请选择订单类型：
                    <br />
                        <br />

                        <select id="Select1" name="Select" style="align-self:center">
                            <option value="快递代拿">快递代拿</option>
                            <option value="商超代买">商超代买</option>
                            <option value="外卖代拿">外卖代拿</option>
                            <option value="代送代办">代送代办</option>
                        </select>
                </p>
                <span class="focus"></span>
                
            </div>

            <div class="column">
                <p style="align-self:center">
                    <img src="~/Images/2.png"  style="position:absolute; left:320px;top:50px; width:70px;height:75px;" />
                    <br />
                    请输入具体详细要求：<br /><br /> @Html.TextArea("details")
                </p>
                
            </div>
            <div class="column">
                <p style="align-self:center">
                    <img src="~/Images/3.png" style="position:absolute; left:565px;top:50px; width:70px;height:75px;" /><br />
                    请输入打赏跑腿费金额：<br /><br />
                    <input placeholder="若不想设置，可不填" class="container__input" id="Text1" type="text" name="tip" style="align-self:center" />
                </p>

            </div>
            <div style="width:100%;text-align:center" class="button">
                <input id="Create_Submit" type="submit" value="生成订单" />
            </div>
            
        </div>
    </form>
        
</body>
</html>
