@using ClassLibrary1

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HaveReceivedOrder";
    List<order> order = ViewBag.List;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HaveReceived</title>
    <link href="~/Content/HaveReceived.css" rel="stylesheet" />

</head>
<body>

        <div>
            <br /><h3>您已接收的订单：</h3>
            <br /><br />
            <table align="center" border="1" style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <td>订单号</td>
                        <td>生成时间</td>
                        <td>订单类型</td>
                        <td>具体要求</td>
                        <td>收件人ID</td>
                        <td>收件人电话</td>
                        <td>打赏小费</td>
                        <td>订单状态</td>
                        <td colspan="2">操作</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (order li in order)
                    {

                    <tr>
                        <td>&nbsp;@li.OrderNumber&nbsp;</td>
                        <td>&nbsp;@li.Date&nbsp;</td>
                        <td>&nbsp;@li.Type&nbsp;</td>
                        <td>&nbsp;@li.Text&nbsp;</td>
                        <td>&nbsp;@li.ClientID&nbsp;</td>
                        <td>&nbsp;@li.ClientPhone&nbsp;</td>
                        <td>&nbsp;@li.Tip&nbsp;</td>
                        <td>&nbsp;@li.State&nbsp;</td>
                        <td>&nbsp;@Html.ActionLink("退单", "CancelOrder", new { orderid = li.OrderNumber })&nbsp;</td>
                        <td>&nbsp;@Html.ActionLink("已完成", "FinishOrder", new { orderid = li.OrderNumber })&nbsp;</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        
         <br />

</body>
</html>
