@using ClassLibrary1

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    List<order> order = ViewBag.List;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/HaveReceived.css" rel="stylesheet" />
</head>
<body>
    
        <div>
            <br /><h3>当前所有待接的订单：</h3><br /><br />
            <table align="center" border="1" style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <td>&nbsp;订单号&nbsp;</td>
                        <td>&nbsp;生成时间&nbsp;</td>
                        <td>&nbsp;订单类型&nbsp;</td>
                        <td>&nbsp;具体要求&nbsp;</td>
                        <td>&nbsp;收件人ID&nbsp;</td>
                        <td>&nbsp;收件人电话&nbsp;</td>
                        <td>&nbsp;打赏&nbsp;</td>
                        <td>&nbsp;操作&nbsp;</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (order li in order)
                    {
                        <tr>
                            <td>&nbsp;@li.OrderNumber&nbsp;</td>
                            <td>&nbsp;@li.Date&nbsp;</td>
                            <td>&nbsp;@li.Type&nbsp;</td>
                            <td>&nbsp;@li.Text&nbsp;</td>
                            <td>&nbsp;@li.ClientID&nbsp;</td>
                            <td>&nbsp;@li.ClientPhone&nbsp;</td>
                            <td>&nbsp;@li.Tip&nbsp;</td>
                            <td>&nbsp;@Html.ActionLink("接单", "HaveReceived", new { orderid = li.OrderNumber })&nbsp;</td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
    
    <br />
</body>
</html>
