* {
    /* 初始化 取消内外边距 */
    margin: 0;
    padding: 0;
}

body {
    /* 溢出隐藏 */
    overflow: hidden;
    background: linear-gradient(200deg,#f3e7e9,#e3eeff);
}

.navbar {
    /* 相对定位 */
    position: relative;
    /* 100%窗口宽度 */
    width: 100vw;
    display: flex;
}

.main {
    flex: 1;
    position: relative;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    top: 45px;
}

.content {
    background-color: #fff;
    width: 700px;
    height: 450px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#checkbox {
    /* 隐藏复选框 */
    display: none;
}

.navbar label {
    position: absolute;
    top: 0;
    left: 70px;
    width: 100%;
    height: 43px;
    font-size: 30px;
    color: #2F628C;
    background-color: transparent;
    padding-left: 20px;
    border: 1px solid #d9dee4;
    cursor: pointer;
    /* 加个动画过渡 */
    transition: all 0.5s;
}

.navbar ul {
    list-style: none;
    width: 70px;
    /* 100%窗口高度 */
    height: 100vh;
    background-color: #C7D9E7;
    transition: all 0.5s;
    /* 再加个溢出隐藏 */
    overflow: hidden;
}

    .navbar ul li {
        height: 70px;
        margin-bottom: 10px;
    }

        .navbar ul li:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
        }

            .navbar ul li:first-child img {
                max-width: 55px;
                max-height: 70px;
                border-radius: 50%;
            }

            .navbar ul li:first-child span {
                color: #fff;
                /* 文字禁止换行 */
                white-space: nowrap;
                padding-left: 10px;
                /* 先把文字隐藏 */
                display: none;
            }

        .navbar ul li a {
            display: flex;
            justify-content: center;
            align-items: center;
            /* 垂直排列 */
            flex-direction: column;
            width: 100%;
            height: 100%;
            color: #1E6C8D;
            /* 去掉下划线 */
            text-decoration: none;
        }

            .navbar ul li a i {
                font-size: 25px;
                margin-bottom: 10px;
            }

            .navbar ul li a span {
                font-size: 12px;
                white-space: nowrap;
            }

            .navbar ul li a:hover {
                color: #fff;
                background-color: #9DBEE1;
            }
/* :checked选择器是判断复选框是否被选中 */
/* +是相邻兄弟选择器，找到input的下一个兄弟label */
.navbar input:checked + label {
    left: 200px;
}
/* ~也是兄弟选择器，但它可以找到隔了几代的兄弟 */
.navbar input:checked ~ ul {
    width: 200px;
}

    .navbar input:checked ~ ul li:first-child {
        /* 将居中改为开头对齐 */
        justify-content: flex-start;
    }

        .navbar input:checked ~ ul li:first-child span {
            /* 文字显示 */
            display: block;
        }

    .navbar input:checked ~ ul li a {
        flex-direction: row;
        justify-content: flex-start;
    }

        .navbar input:checked ~ ul li a i {
            font-size: 18px;
            margin: 0 15px 0 30px;
        }

        .navbar input:checked ~ ul li a span {
            font-size: 14px;
        }
