.contents{
    position:absolute;
    top:80px;
    left:210px;
    text-align:center;
}
h3 {
    font-size:25px;
    text-align: center;
    margin-bottom: 25px;
    color: #8e9aaf;
}
.table{
    text-align:left;
}
input {
    background-color: transparent;
    width: 70%;
    border: none;
    color: #fff;
    /*下边框样式*/
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding: 10px 0;
    text-indent: 10px;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}

    input:focus {
        color: #a262ad;
        outline: none;
        border-bottom: 1px solid #a262ad;
    }

#view {
    margin-top: 30px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #a262ad;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

    #view:hover {
        background-color: #a262ad;
        color: #f6f6f6;
        transition: background-color 0.5s ease;
    }

#View_Submit {
    margin-top: 30px;
    background-color: #fff;
    color: #a262ad;
    border: 1px solid #d3b7d8;
    padding: 6px;
    border-radius: 8px;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

    #View_Submit:hover {
        background-color: #d3b7d8;
        color: #fff;
    }